article.u-block-hover.u-block-hover--uncroped.text-center iframe {
        padding-left: 20px;
    padding-right: 20px;
}

h1.text-uppercase.g-font-weight-700.g-font-size-26.g-color-white.g-mb-5 {
    font-size: 42px !important;
    padding-top: 20px;
}